// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f1c40f;
}

.navbar {
    background-color: #6f42c1 !important; 
    font-size: 24px;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #ffffff !important;
}

.custom-dropdown {
    background-color: #ffffff !important;
}

.bg-dark-purple {
    background-color: #220034;
}

.submenu-link {
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
    font-size: 1rem;
    font-weight: 500;
}

.submenu-link:hover {
    background-color: #a040ff;
    color: white;
}