body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;

    background: linear-gradient(45deg, rgb(91, 13, 163), rgb(170, 24, 92), rgb(117, 6, 99), rgb(91, 13, 163));
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
    -webkit-animation: gradient 15s ease infinite;
    -moz-animation: gradient 15s ease infinite;
    -o-animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.ci{
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    font-size: 40px;
}

.contenedor{
    width: 30%;
    height: 101vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    float: left;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

    animation: intro 1s ease-in forwards running normal;
    -webkit-animation: intro 1s ease-in forwards running normal;
    -moz-animation: intro 1s ease-in forwards running normal;
    -o-animation: intro 1s ease-in forwards running normal;
}

@keyframes intro {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.contenedor2{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}

.roles{
  margin-bottom: 20px;
  margin-right: 23vh;
  margin-left: 4.8vh;
  width: 100%;
}

#registroForm{
    display: flex ;
    width:auto;
    justify-content: center ;
    align-items: center ;
    flex-wrap: wrap;
    margin-top: 2vh;
}

input[type="text"], [type="email"], [type="password"], [type="number"], [type="tel"]{
    border: none;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 10px;
    width: 190px;
    margin-left: 30px;
    border-bottom: 2px solid rgb(240, 2, 2);
}

input[type="date"]{
  border: none;
  height: 40px;
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 190px;
  border-bottom: 2px solid rgb(240, 2, 2);
}

input[type="date"]:focus{
  box-shadow: none;
}

input{
    transition: all 0.2s;
    box-sizing: border-box;
}

input:hover{
    border-radius: 9px 9px 0px 0px;
    border-bottom: 4px solid orangered;
}

input:focus{
    outline: none;
    transition: all 500ms;
    border-radius: 9px 9px 0px 0px;
    border-bottom: 4px solid orangered;
    border-color: 1px solid grey;
    background-color: white;

    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.534);
}

input::placeholder{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.521);
    text-align: center;
}

input:focus::placeholder{
    color: rgb(0, 0, 0);
}


.docu, .fecha{
  display: flex;
  flex-wrap: wrap;
    font-size: 16px;
    width: 40%;
    margin-left: 45px;
    margin-bottom: 10px;
    margin-top: 30px;
}

select.edicin-select {
  border: none;
  border-bottom: 2px solid rgb(240, 2, 2);
  border-radius: 9px 9px 0px 0px;
  height: 30px; 
  margin-left: -10px;
  color: rgb(0, 0, 0);
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  transition: all 0.5s;
}

select.edicin-select:focus {
  border-bottom: 2px solid transparent; 
  outline: none; 
  border-radius: 9px 9px 0px 0px;
  height: 30px;
  margin-left: -10px;
  color: rgb(0, 0, 0);
  padding: 0 10px;
  font-weight: 500;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

select.edicin-select:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border-bottom: 5px solid orangered;
  width: 100%;
}

select.edicin-select option {
  backdrop-filter: blur(2px);
  border-bottom: 1px solid black;
  color: rgb(0, 0, 0);
  font-weight: 300;
  padding: 5px;
  cursor: pointer;
}

select.edicin-select option:hover {
  background-color: rgb(45, 45, 45);
}

.password-requirements {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: -20px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.password-requirements li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.password-requirements li img {
  margin-right: 10px;
  filter: invert(100%) brightness(2);
}

.password-requirements .valid img {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(90deg) brightness(2);
}

.password-requirements .invalid img {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(0deg) brightness(2);
}

.password-match {
  margin-top: 3vh;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-left: -5px;
  margin-bottom: 40px;
  width: 75%;
}

.password-match span.NoCoinciden {
  color: rgb(255, 0, 0);
  font-weight: 300;
  margin-left: 3vh;
  width: auto;
}

.password-match span.Coinciden {
  color: rgb(23, 145, 18);
  font-weight: 300;
  margin-left: 3vh;
}

.min{
  margin-right: 5.5vh;
}
.cara{
  margin-right: 4.2vh;
}

.enviar{
  width: 20em;
  border-radius: 9px;
  border: 1px solid rgba(128, 128, 128, 0.863);
  height: 45px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 15px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.5s;
}

.enviar:focus{
  border: 1px solid rgba(255, 255, 255, 0.808);
  background-color: green;
}
.enviar:hover {
background-color: rgba(5, 221, 5, 0.589);
}

.cuenta{
  display: flex;
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}

.inicia{
  display: flex;
  font-size: 16px;
  color: rgb(3, 104, 255);
  margin-top: 0px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

  
  